*volumes
*target
.settings
*node_modules
*bin
*.project
*.classpath
*.factorypath
.history
.idea
**.iml
*.jar
*.log
.DS_Store
.ibizlab-generator-ignore
gen.sh
*/dist/
*/build/
*/*.egg-info/
/skill_runner/skills/
/skill_runner/venv/
/skill_runner/workspace/
